.swiper-slide-visible:not(.swiper-slide-next) {
    .content {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background-color: #ffffff5e;

        transition: all ease 0.4s;
    }
}

.swiper-slide-next {
    transition: all ease 1s;
}