.button{
    width: 180px;
    height: 42px;

    border-radius: 28px;

    background: #F3F3F7;

    color: #696F7A;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;

    transition: all ease 0.4s;

    &:hover{
        background-color: #cecece;
        color: #33373b;
    }
    &:active{
        background-color: #ffe056;
        color: #000000;
    }
}